<%- include('partials/users/header') %>

<h2>Welcome <%= username%></h2>

<form action="/users/products/search/<%= userId%>" method="post">
  <input type="text" name="search" /> <br />
  <button type="submit">Search</button>
</form>

<% products.forEach(function(p){ %>
<ul>
  <li><%= p.name%></li>
  <li><%= p.price%></li>
  <li><%= p.category%></li>
  <img src="<%= p.image%>" />
  <li><%= p.discription%></li>
  <a href="/users/products/<%= p._id%>/<%= userId%>">View Product</a>
</ul>

<%})%> <%- include('partials/users/footer') %>
