<%- include('partials/header') %>
<h1>Register</h1>

<form action="/users/register" method="POST">
  <%- include('partials/registerMsg') %> <br />
  <input
    type="text"
    name="name"
    value="<%= typeof name != 'undefined' ? name : '' %>"
    placeholder="Name"
    required
  />
  <br />
  <input
    type="email"
    name="email"
    value="<%= typeof email != 'undefined' ? email : '' %>"
    placeholder="Email"
    required
  /><br />
  <input
    type="password"
    name="password"
    value="<%= typeof password != 'undefined' ? password : ''%>"
    placeholder="Password"
    required
  /><br />
  <input
    type="password"
    name="confirmPassword"
    value="<%= typeof confirmPassword != 'undefined' ? confirmPassword : ''%>"
    placeholder="Password"
    required
  /><br />
  <button type="submit">Register</button>
</form>
<%- include('partials/footer') %>
